<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<style>
    .caixas{
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
       
    }

    .c1{
        background-color: red;
    }
    .c2{
        background-color: blue;
    }
    .c3{
        background-color: green;
    }
    .girar{
        transform: rotate(45deg);
        transition: ease 1s;
    }
</style>

<div id="app">
    <div class="caixas">
        <div class="demo" :class="estilo1" 
        @click="aplicarC1 = !aplicarC1"></div>
        <div class="demo" :style="meuEstilo"></div>
        <div class="demo" :class="classCSS"></div>
        <div class="demo" :class="[classCSS, 'girar']"></div>
        <div class="demo" :class="[classCSS, {girar: aplicarGirar}]" @click="aplicarGirar = !aplicarGirar"></div>


    </div>

    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">    
    
    <script>
    new Vue({
        el: '#app',
        data: {
            aplicarC1: false,
            classCSS: 'c1',
            aplicarGirar: false,
            cor: 'yellow',
            largura: 100,
        },
        computed:{
            estilo1(){
                return{
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1
                }
            },
            meuEstilo(){
                return{
                    backgroundColor: this.cor,
                    width: this.largura + 'px'
                }
            }
        }
    });
</script>