<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<div id="app">
    Cores:
    <ul>
        <li v-for="(cor, index) in cores">{{cor}} - {{index}}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{cor}}</h1>
        <p>{{i}}</p>
    </template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'azul', 'amarelo'],
            pessoas:[
                {nome: 'Maria', idade: 20, peso: 60},
                {nome: 'João', idade: 30, peso: 80},
                {nome: 'Lucas', idade: 23, peso: 70},
            ]
        }
    });
</script>